body {
	background-image: url("morning.jpg");
	background-size: cover;
}

h3 {
	font-size: 70px;
	letter-spacing: 10px;
	text-align: center;
}

.musicBox {
	text-align: center;
}

.player {
	width: 30%;
	aspect-ratio: 16/9;
}

.musicTitle{
	font-size: 40px;
}

p {
	font-size: 20px;
	text-align: center;
}

.talkBox{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 20%;
	height: 50px;
	vertical-align: bottom;
	opacity: 0.5;
}

.talkBtn {
	width: 100%;
	height: 50px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border: 0;
	background-color: white;
}

.talkFrame{
	width: 100%;
	height: 100%;
	background-color: white;
}

.talkBody{
	width: 100%;
	height: 90%;
	margin: 20%;
	background-color: black;
}

.inputFrame{
	width: 100%;
	height: 10%;
	background-color: black;
}

.inputBody{
	width: 90%;
	height: 100%;
	border-radius: 10px;
	background-color: white;
}

.inputBtnFrame{
	width: 100%;
	height: 100%;
}

.inputBtn{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	border: 0;
	background-color: white;
}
