@font-face {
    font-family: 'KCC-eunyoung';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: local('Pretendard Variable'), url('./woff2/PretendardVariable.woff2') format('woff2-variations');
}

body {
	background-color: #999999;
}

h3 {
	font-family: 'KCC-eunyoung';
	font-size: 70pt;
	color: white;
	letter-spacing: 10px;
	text-align: center;
}

.musicBox {
	text-align: center;
}

.musicTitle{
	font-family: 'KCC-eunyoung';
	font-size: 40pt;
	color: white;
}

p {
	font-size: 20px;
	text-align: center;
}

a {
	font-family: 'KCC-eunyoung';
	font-size: 15px;
	text-align: center;
}

.talkBox{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 450px;
	max-width: 100%;
	height: 5%;
	vertical-align: bottom;
	opacity: 0.8;
}

.talkBtn {
	width: 100%;
	height: fit-content;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border: 0;
	background-color: white;
	text-align: center;
	color: black;
	font-family: "KCC-eunyoung";
	font-size: 20pt;
}

.talkFrame{
	width: 100%;
	height: 0%;
	background-color: white;
}

.talkBody{
	width: 100%;
	height: 93%;
	background-color: white;
}

.inputFrame{
	position: absolute;
	bottom: 0;	
	width: 100%;
	height: 7%;
	background-color: gray;
	text-align: center;
}

.inputBody{
	position: relative;
	top: 20%;
	border-radius: 10px;
	border: 0;
	width: 70%;
	height: 60%;
	resize: none;
	font-family: 'Pretendard Variable';
}

.submitBtn{
	width: 13%;
	height: 60%;
	border: 0;
	margin-left: 3%;
	vertical-align: middle;
	border-radius: 10px;
	font-family: 'Pretendard Variable';
}

.msgViewer{		
	width: 100%;
	height: 100%;
	padding-top: 3%;
	overflow: scroll;
}

.msgUser{
	font-family: 'Pretendard Variable';
	width: fit-content;
	max-width: 60%;
	height: auto;
	background-color: lightgray;
	text-align: left;
	padding: 2%;
	padding-right: 5%;
	padding-left: 5%;
	margin-left: auto;
	margin-right: 5%;
	margin-bottom: 3%;
	border-radius: 10px;
	border-top-right-radius: 0;
	overflow-wrap: break-word;
}

.msgService{
	font-family: 'Pretendard Variable';
	width: fit-content;
	max-width: 60%;
	height: auto;
	background-color: lightgray;
	text-align: left;
	padding: 2%;
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 3%;
	margin-left: 5%;
	margin-right: auto;
	border-radius:10px;
	border-top-left-radius: 0;
	overflow-wrap: break-word;
}

.license{
	text-align: center;
	color: white;
	font-size: 20pt;
}

h4 {
	font-size: 30pt;
}

.KCC{
	font-family: 'KCC-eunyoung';
}

.Pretendard{
	font-family: 'Pretendard Variable';
}
