body {
	background-image: url("morning.jpg");
	background-size: cover;
}

h3 {
	font-size: 70px;
	letter-spacing: 10px;
	text-align: center;
}

.musicBox {
	text-align: center;
}

.player {
	width: 30%;
	aspect-ratio: 16/9;
}

.musicTitle{
	font-size: 40px;
}

p {
	font-size: 20px;
	text-align: center;
}

.talkBox{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 450px;
	max-width: 100%;
	height: 5%;
	vertical-align: bottom;
	opacity: 0.8;
}

.talkBtn {
	width: 100%;
	height: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border: 0;
	background-color: white;
	text-align: center;
	color: black;
}

.talkFrame{
	width: 100%;
	height: 95%;
	background-color: white;
}

.talkBody{
	width: 100%;
	height: 93%;
	background-color: white;
}

.inputFrame{
	width: 100%;
	height: 7%;
	background-color: gray;
	text-align: center;
}

.inputBody{
	position: relative;
	top: 20%;
	border-radius: 10px;
	border: 0;
	width: 70%;
	height: 60%;
	resize: none;
}

.submitBtn{
	width: 10%;
	height: 60%;
	border: 0;
	margin-left: 3%;
	vertical-align: middle;
	background-image: url("send_icon.svg");
	background-size: 100% 100%;
	background-color: transparent;
}

.msgViewer{		
	width: 100%;
	height: 100%;
	padding-top: 3%;
	overflow: scroll;
}

.msgUser{
	width: fit-content;
	max-width: 60%;
	height: auto;
	background-color: lightgray;
	text-align: left;
	padding: 2%;
	padding-right: 5%;
	padding-left: 5%;
	margin-left: auto;
	margin-right: 5%;
	margin-bottom: 3%;
	border-radius: 10px;
	border-top-right-radius: 0;
	overflow-wrap: break-word;
}

.msgService{
	width: fit-content;
	max-width: 60%;
	height: auto;
	background-color: lightgray;
	text-align: left;
	padding: 2%;
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 3%;
	margin-left: 5%;
	margin-right: auto;
	border-radius:10px;
	border-top-left-radius: 0;
	overflow-wrap: break-word;
}
